.basicinfo{
	margin-top: 2em;
	padding-left: 10px;
	padding-right: 100px;
	font-weight: 600;
	font-size: large;
}
.poster{
	align-content: center;
	width:250px;
}
.synopsis{
	font-size: large;
}
.movie{
	margin-top: 8%;
	margin-left: 10%;
	margin-right: 10%;
}
.movieReview{
    margin: 1em;
    background-color: beige;
}

.movieReviewTitle{
    font-weight: 700;
}
.movieSceneImg{
    margin-top: 1em;
    border-radius: 1%;
    border: 2px solid black;
}